@media (min-width: 700px) {
	header {
		display: flex;
		align-items: center;
	    justify-content: space-between;
	}
	
	nav ul {
		display: flex;
		flex-direction: row;
		position: static;
        width: auto;
	}

    .hamburger {
        display: none;
    }
    
    .temples-list {
        display: grid; 
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}